.header {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem 0;
}
.header button {
  color: var(--color-link);
}

.header button::before {
  content: "▼ ";
}

.collapsed .header button::before {
  content: "◆ ";
}

.content {
  transition: max-height 0.2s ease-out;
}

.collapsed .content {
  display: none;
  overflow: hidden;
  max-height: 0;
}
