.header {
  position: absolute;
  /* To be on top of the leaflet zoom buttons */
  z-index: 1100;
  background-color: var(--color-background);
  color: var(--color-foreground);
  box-sizing: border-box;
  top: 0;
  width: 100vw;
  /* As min recommended by Apple and Google */
  padding: 16px 16px 0.5rem;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 0.8rem 0.8rem 0.5rem;
  }
}

.header h1 {
  font-size: min(1.5rem, 4.9vw);
  font-weight: bold;
  margin-left: 0.5rem;
}

.legend {
  display: flex;
  gap: 0.25rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.legend div {
  display: flex;
  align-items: center;
  font-weight: normal;
}

@media only screen and (max-width: 768px) {
  .legend .mobile-line-break {
    width: 100%;
  }
}

.legend .line-break {
  width: 100%;
}

.legend div img {
  width: 24px;
  height: 24px;
  padding-right: 0.25rem;
}

img.preview:hover {
  background-color: var(--color-accent2);
  border-radius: 1px;
  transition: all 0.3s ease-out;
  opacity: 1;
  transform-origin: left top;
  transform: scale(7, 7);
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
  z-index: 1110;
}
.captioned > div {
  margin: 0.25rem 0.5rem;
  color: var(--color-background);
  font-weight: bold;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-out;
  transform-origin: left top;
  z-index: 1110;
}

.captioned:hover > div {
  padding-left: 0.2rem;
  opacity: 1;
}
