.collapsible-header {
  cursor: pointer;
  text-align: center;
  background-color: var(--color-accent2);
  color: var(--color-accent-background);
  border-radius: 3px;
}
.collapsible-header:hover {
  background-color: var(--color-accent-background);
  color: var(--color-accent2);
}
.collapsible-header::before {
  content: "▼ ";
}

.collapsed .collapsible-header::before {
  content: "◆ ";
}

.collapsible-content {
  transition: max-height 0.2s ease-out;
}

.collapsed .collapsible-content {
  display: none;
  overflow: hidden;
  max-height: 0;
}
