.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0.25rem 0;
  overflow: hidden;
}

.container input[type="search"] {
  flex-grow: 1;
  padding: 0.75rem 0 0.75rem 0.75rem;
}
.container input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 25.2rem;
  }
}

.searchIcon {
  z-index: 500; /* show icon on top of the focused input */
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  margin-left: -2.25rem;
  transition: all 0.25s ease-in-out;
  display: flex;
}

.searchIcon div[role="button"] {
  display: flex;
}
