.leaflet-container {
  width: 100vw;
  height: 100vh;
}
.leaflet-control-zoom {
  position: absolute;
  top: 20rem;
  right: 0.25rem;
}
.leaflet-control-zoom .leaflet-control-zoom-in,
.leaflet-control-zoom .leaflet-control-zoom-out {
  color: darkcyan;
}
.leaflet-control-zoom .leaflet-control-zoom-in:hover,
.leaflet-control-zoom .leaflet-control-zoom-out:hover {
  color: cyan;
}
.leaflet-control-attribution {
  display: none;
}
.leaflet-popup {
  max-width: fit-content;
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
  width: 25rem;
  font-size: 0.8rem;
}

.header {
  position: absolute;
  z-index: 500;
  background-color: rgba(100, 100, 100, 0.85);
  color: white;
  box-sizing: border-box;
  top: 0;
  width: 100vw;
  padding: 0.9rem;
  padding-bottom: 0.5rem;
}

.header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

hr {
  margin: 0.7rem 0;
}

.header .button {
  padding-right: 0.25rem;
  padding-left: 0.5rem;
}
.legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.legend div {
  display: flex;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  align-items: center;
}

.legend div img {
  width: 24px;
  height: 24px;
}

.footer {
  position: absolute;
  z-index: 500;
  background-color: rgba(100, 100, 100, 0.85);
  color: white;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
  padding: 0.4rem;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.footer .logo {
  display: inline-block;
}

/* logoPosition: "bottom-right" does not work with React */
/* https://github.com/maptiler/leaflet-maptilersdk/blob/3d7b122d8e6315d0fcc27a74dfdfe47fcd8848fe/src/leaflet-maptilersdk.ts#L324 */
.map-container a:has(img[alt="MapTiler logo"]) {
  left: unset !important;
  right: 0.4rem;
}

.dark-mode .leaflet-control-zoom-in,
.dark-mode .leaflet-control-zoom-out,
.dark-mode .leaflet-popup-content-wrapper,
.dark-mode .leaflet-popup-tip {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
