.footer {
  position: absolute;
  z-index: 500;
  background-color: var(--color-background);
  color: var(--color-foreground);
  box-sizing: border-box;
  bottom: 0;
  right: 0;
  padding: 0.4rem;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.footer .logo {
  display: inline-block;
}
